
Thumbs.db
ehthumbs.db
Desktop.ini


.vscode/
*.code-workspace

.vs/
*.user
*.suo
*.csproj.user
*.vcxproj.user
*.pyproj.user
*.sln.docstates

.idea/

.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json

bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.xml
*.localhistory
.project
*.pidb
*.mdb

.dotnet_tools/

.vsconfig

publish/
artifacts/

*.log
*.swp
*.DS_Store
*.lock
.npmrc
*.npmignore

*.nupkg
project.lock.json
*.nuspec

*.transient
secrets.json
user_secrets/